html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
}

.sidebar {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh
}

.leaves {
    height: 100vh;
}

.logo-and-title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 200px;
    gap: 20px;
    color: white;
    font-size: 60px;
    background-color: black;
    width: 100%;
}

.img-container img {
    height: 150px;
}

.img-container p {
    color: white
}

.credits {
    position: absolute;
    bottom: 10px;
    color: white;
}

.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #D6CFCD;
    padding: 30px;
}

#main-description {
    margin-top: 100px;
    margin-right: 300px;
    font-size: 20px;
    font-weight: bold;
}

#secondary-description {
    margin-right: 300px;
    font-size: 20px;
    font-weight: bold;
}

#legend {
    font-weight: bold;
    padding-top: 30px;
    padding-left: 30px;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    margin-left: 5px;
}

#form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 2px;
}

#first-row {
    display: flex;
    gap: 100px;
}

#second-row {
    display: flex;
    gap: 100px;
}

#third-row {
    display: flex;
    gap: 100px;
}

.info-container {
    padding: 30px;
}


input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}
  
input:valid {
    border-color: black;
}

input:focus {
    background-color: #D6CFCD;
}


.question {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.account {
    background-color: #D6CFCD;
    height: 100%;
    padding: 30px;
    /* flex: 1; */
}

#submit {
    background-color: #596D48;
    color: white;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 5px rgb(160, 160, 160);
}

.fillin {
    background-color: #D6CFCD;
    height: 100%;
}
